.book-container {
    display: flex !important;
    justify-content: space-between !important;
    align-items: center !important;
}

.link {
    color: darkgrey;
    padding-right: 8px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(16, 20, 24, 0.3);
    display: flex;
    justify-content: center !important;
    align-items: center;
    z-index: 100;
}

.my-modal {
    background-color: #ffffff;
    border-radius: 3px;
    display: flex !important;
    /* height: 60px; */
    align-items: center;
    padding: 12px;
}

.link-wrapper {
    display: flex;
    align-items: center;
}

.move-buttons-wrapper {
    display: flex;
    flex-direction: column;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.main-wrapper {
    display: flex;
}

.red {
    background-color: red;
}

.book-title-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: normal;
}

.book-title-wrapper span:last-child {
    font-size: 13px;
    color: darkgrey;
    cursor: pointer;
}

.book-title-wrapper span:last-child:hover {
    font-weight: 700;
}
